.introduce_wrapper {
  background-color:#888888;
  height: 250px;

  .author {
    height: 250px;
    line-height: 250px;
    img {
      height: 88px;
    }
  }
  .introduce {
    height: 250px;
    display: flex;
    align-items: center;
    font-size: 18px;
    text-indent: 2em;
    text-align: right;
  }
}